
/*
This CSS governs the appearance of our site.
You can find the basic concepts of CSS here: https://developer.mozilla.org/en-US/docs/Learn/CSS/Introduction_to_CSS/How_CSS_works
*/

/*
This makes the border and padding be counted as part of the element's size.
https://developer.mozilla.org/en-US/docs/Learn/CSS/Introduction_to_CSS/Box_model
It switches from
	https://mdn.mozillademos.org/files/13647/box-model-standard-small.png
to
	https://mdn.mozillademos.org/files/13649/box-model-alt-small.png
*/
* {
	box-sizing: border-box;
}

/*
Make the document fill the whole viewport, this overrides any weird defaults that browsers might have.
background-image: url("https://cdn.wallpapersafari.com/62/8/A3hylQ.png");
*/
html, body, figure {
	width: 100%;
	height: 100%
	padding: 0;
	margin: 0;
	border: 0;
	background-image: url("https://cdn.wallpapersafari.com/62/8/A3hylQ.png");
	background-size: cover;
}

.btn-group .button {
  background-color: #4CAF50; /* Green */
	border: 1px solid green;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  float: left;
}

.axisWhite line{
  stroke: #ccc;
}

.axisWhite path{
  stroke: #ccc;
}

.axisWhite text{
  fill: #ccc;
}
title {
	color: white;
}


p {
  font-size: 1.3em;
  font-weight: 700;
	color: #000;
}

/* Default font and size */
body {
	width: 100%;
	height: 100%;



	/* center vertically */
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-content: center;


	/* default text */
	font-family: sans-serif;
	font-size: 1.1rem;
}

.main_container {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	margin: 10;
}

.title_container {
	height: 100%;
	flex: 1;
	text-align: center;
	font: sans-serif;
	font-weight: normal; 
	font-size: 4em; 
	letter-spacing: .2em; 
	line-height: 1.1em; 
	margin:0px; 
	text-align: center; 
	text-transform: uppercase;
}

.data_container {
	flex: 15;
	display: flex;
	flex-direction: row
}

.map_container {
	flex: 2;
	display: flex;
	flex-direction: column
}

.map_button_container {
	flex: 1;
	text-align: center
}

.slider {
	flex : 1;
	position: relative;
	height: 100%;
	width: 100%;
}


.scaling-svg-container {
	flex : 14;
	position: relative;
	height: 100%;
	width: 100%;
}


.scaling-svg {
 position: absolute;
 height: 100%;
 width: 100%;
 left: 0;
 top: 0;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.button {
	border:none;
	padding:6px 0 6px 0;
	border-radius:8px;
	background:steelblue;
	font:bold 13px Sans-serif;
	color:#fff;
	justify-content: center;
  display: inline-block;
  font-size: 20px;
	margin-right: 5px;
	margin-top: 9px;
}

.right_scroll_plot {
	overflow: auto;
	flex: 1;
	max-height: 91vh;
}

.barplot {
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
}

.svg-content {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
}

.hidden {
  display: none;
}


div.tool {
	line-height: 1.5;
	font-weight: 400;
	font-family:"avenir next", Arial, sans-serif;
	padding: 6px;
	background: rgba(0, 0, 0, 0.6);
	color: orange;
	border-radius: 1px;
	position: absolute;
}

.details{
  color:white;
}

.svg_container_line_chart {
	display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%; /* aspect ratio */
  vertical-align: top;
  overflow: hidden;
}

.svg_line_chart {
	display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.svg_container_sankey {
	display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%; /* aspect ratio */
  vertical-align: top;
  overflow: hidden;
}

.svg_sankey {
	display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}
.svg_cont_barplot {
	display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%; /* aspect ratio */
  vertical-align: top;
  overflow: hidden;
}

.svg_barplot {
	display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}
