
/*
This CSS governs the appearance of our site.
You can find the basic concepts of CSS here: https://developer.mozilla.org/en-US/docs/Learn/CSS/Introduction_to_CSS/How_CSS_works
*/

/*
This makes the border and padding be counted as part of the element's size.
https://developer.mozilla.org/en-US/docs/Learn/CSS/Introduction_to_CSS/Box_model
It switches from
	https://mdn.mozillademos.org/files/13647/box-model-standard-small.png
to
	https://mdn.mozillademos.org/files/13649/box-model-alt-small.png
*/
* {
	box-sizing: border-box;
}

/*
Make the document fill the whole viewport, this overrides any weird defaults that browsers might have.
*/
html, body, figure {
	width: 100%;
	padding: 0;
	margin: 0;
	border: 0;
}

/* Default font and size */
body {

	width: 100vw;
	height: 100vh;

	/* center vertically */
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-content: center;

	/* background behind the plot */
	/*background: rgb(40, 40, 40);*/
	background: white;

	/* default text */
	font-family: sans-serif;
	font-size: 1.1rem;
}

.scaling-svg-container {
	border: 1px
	solid orange;
	flex : 14;
	position: relative;
	height: 100%;
	width: 100%;
}

.scaling-svg {
 position: absolute;
 height: 100%;
 width: 100%;
 left: 0;
 top: 0;
}

.flex-container {
  display: flex;
  flex-direction: row;
	border:1px solid red;
}

.button {
	border:none;
	padding:6px 0 6px 0;
	border-radius:8px;
	background:steelblue;
	font:bold 13px Sans-serif;
	color:#fff;
	justify-content: center;
  display: inline-block;
  font-size: 20px;
	margin-right: 5px;
	margin-top: 9px;
}

.right_scroll_plot {
	overflow: auto;
	flex: 1;
	min-width: 200px;
	height: 100%;
	max-height: 93vh;
}

.barplot {
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
}
